<div class="navbar-container">
  <mat-toolbar>
    <button
      mat-icon-button
      class="menu-icon"
      aria-label="Example icon-button with menu icon"
      (click)="sidenav.toggle()"
    >
      <mat-icon style="color: white">menu</mat-icon>
    </button>
    <span class="cursor-pointer fs-3" routerLink="/">{{ title }}</span>
    <span class="example-spacer"></span>

    <button
      mat-button
      routerLink="/member"
      routerLinkActive="active"
      class="link fs-5"
    >
      Matches
    </button>
    <button
      mat-button
      routerLink="/list"
      routerLinkActive="active"
      class="link fs-5"
    >
      List
    </button>
    <button
      mat-button
      routerLink="/message"
      routerLinkActive="active"
      class="link fs-5"
    >
      Message
    </button>
    <div class="d-flex align-items-center" style="margin-left: 28px">
      <ng-container *ngIf="currentUser$ | async as user">
        <div class="text-welcome">
          Welcome, <strong>{{ user?.UserName }}</strong>
        </div>
      </ng-container>
      <mat-card-header [matMenuTriggerFor]="menu" #menuTrigger>
        <div mat-card-avatar class="avatar cursor-pointer"></div>
      </mat-card-header>
      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/member/edit">Edit Profile</button>
        <button mat-menu-item (click)="logout()">Logout</button>
      </mat-menu>
    </div>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav
      #sidenav
      [mode]="'side'"
      [fixedInViewport]="true"
      [fixedTopGap]="56"
    >
      <div class="side-nav-items">
        <div class="item-route"><a routerLink="/component">Component</a></div>
        <div class="item-route"><a routerLink="/directive">Directive</a></div>
        <div class="item-route"><a routerLink="/service">Service</a></div>
        <div class="item-route"><a routerLink="/pipe">Pipe</a></div>
        <div class="item-route"><a routerLink="/rxjs">RxJS</a></div>
      </div>
    </mat-sidenav>

    <mat-sidenav-content>
      <ng-content></ng-content>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
