<div class="form">
  <div *ngIf="formMode == formModeEnum.Login" class="form-container login">
    <div class="login-wrapper">
      <div class="login-content">
        <h1 style="margin-bottom: 16px; font-weight: 700">Log in</h1>
        <div>
          <mat-form-field class="input-login" appearance="outline">
            <mat-label>Username</mat-label>
            <input matInput placeholder="Placeholder" />
            <mat-icon matSuffix>person</mat-icon>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="input-login" appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput placeholder="Placeholder" />
            <mat-icon matSuffix>visibility_off</mat-icon>
          </mat-form-field>
        </div>
        <div class="remember-checkbox">
          <mat-checkbox>Remember me</mat-checkbox>
        </div>
        <div class="fs-6">Forgot Password?</div>
        <div class="mt-3 mb-3">
          <button class="button-login" mat-flat-button>Login</button>
        </div>
        <!-- line -->
        <div class="divider">OR</div>
        <!-- register -->
        <div class="mt-2 mb-2">
          <span
            >Don't have an account?
            <span class="link-button" (click)="handleOpenFormRegister()"
              >Register</span
            ></span
          >
        </div>
        <!-- other login -->
        <div class="social-icon mt-4">
          <i class="fab fa-google item"></i>
          <i class="fab fa-facebook item"></i>
          <i class="fab fa-github item"></i>
        </div>
      </div>
    </div>

    <div class="toggle-box">
      <div class="toggle-panel toggle-left">
        <h1>Hello, Welcome!</h1>
        <h6>Have a nice day.</h6>
      </div>
    </div>
  </div>

  <div
    *ngIf="formMode == formModeEnum.Register"
    class="form-container register"
  >
    <div class="login-wrapper">
      <div class="login-content">
        <h1 style="margin-bottom: 16px; font-weight: 700">Register</h1>
        <div>
          <mat-form-field class="input-login" appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Placeholder" />
            <mat-icon matSuffix>email</mat-icon>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="input-login" appearance="outline">
            <mat-label>Username</mat-label>
            <input matInput placeholder="Placeholder" />
            <mat-icon matSuffix>person</mat-icon>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="input-login" appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput placeholder="Placeholder" />
            <mat-icon matSuffix>visibility_off</mat-icon>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="input-login" appearance="outline">
            <mat-label>Confirm Password</mat-label>
            <input matInput placeholder="Placeholder" />
            <mat-icon matSuffix>visibility_off</mat-icon>
          </mat-form-field>
        </div>
        <div class="mt-3 mb-3">
          <button class="button-login" mat-flat-button>Register</button>
        </div>
        <div>
          Already have an account ? <span class="link-button" (click)="handleOpenFormLogin()">Login</span>
        </div>
      </div>
    </div>

    <div class="toggle-box">
      <div class="toggle-panel toggle-left">
        <h1>Hello, Welcome!</h1>
        <h3>Have a nice day.</h3>
      </div>
    </div>
  </div>
</div>
