.member-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  width: 277px !important; /* Fixed width for member cards to match image width - important! */
  margin: 0 0 20px 0; /* Add margin around each card */
}

.member-image {
  width: 277px; /* Fixed width for images */
  height: 200px; /* Fixed height for images */
  max-width: 100%; /* Make image responsive */
  object-fit: cover; /* Ensure images cover the area without distortion */
  display: block;
  transition: transform 0.3s ease;
  background-color: #f0f0f0;
}

.member-card:hover .member-image {
  transform: scale(1.05); /* Reduced scale */
}

/* Re-introduce overlay with background-color transition */

.image-overlay {
  position: absolute;
  top: 0;
  bottom: 0; /* Add bottom: 0 to ensure full height */
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
  display: flex;
  flex-direction: row; /* Change to row to display icons horizontally */
  justify-content: center; /* Center icons vertically */
  align-items: center; /* Center icons horizontally */
  opacity: 0;
  transition: opacity 0.1s ease;
  background-color: rgba(0, 0, 0, 0);
  pointer-events: none;
  overflow: hidden;
}

.member-card:hover .image-overlay {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: auto;
  transition-delay: 0s;
}
.member-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  width: 277px !important; /* Fixed width for member cards to match image width - important! */
  margin: 0 0 20px 0; /* Add margin around each card */
}

.member-image {
  width: 277px; /* Fixed width for images */
  height: 200px; /* Fixed height for images */
  max-width: 100%; /* Make image responsive */
  object-fit: cover; /* Ensure images cover the area without distortion */
  display: block;
  transition: transform 0.3s ease;
  background-color: #f0f0f0;
}

.member-card:hover .member-image {
  transform: scale(1.05); /* Reduced scale */
}

.member-content {
  padding: 8px;
  flex-grow: 1; /* Allow content to take up remaining space */
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Distribute space between title and subtitle */
}

.member-content mat-card-title {
  font-size: 16px; /* Reduced font size for title */
  margin-bottom: 4px;
  overflow: hidden; /* Hide overflowing text */
  text-overflow: ellipsis; /* Add ellipsis for overflow */
  white-space: nowrap;
  font-weight: bold; /* Make name bold */
  display: flex;
  align-items: center; /* Center align items vertically */
}

.member-content mat-card-title mat-icon {
  padding-top: 2px;
}

.member-content mat-card-subtitle {
  padding-left: 0; /* Remove padding for subtitle */
  margin-left: 8px; /* Add margin-left to align with gender icon */
}

.image-overlay-link {
  text-decoration: none; /* remove underline from link */
}

.image-overlay mat-icon {
  margin: 0 8px;
  cursor: pointer;
}

.image-overlay .overlay-icon {
  background-color: rgba(255, 255, 255, 0.8); /* White background for the box */
  color: black; /* Icon color */
  border-radius: 8px; /* Make it circular */
  padding: 16px; /* Padding around the icon */
  display: flex;
  align-items: center;
  justify-content: center;
}
